---
// const isHomePage = () => {
//   return Astro.url.pathname === '/';
// };

// 使用例↓
// {
//   isHomePage() ? (
//     // TOPページで表示される要素
//   ) : (
//     // TOPページ以外で表示される要素
//   )
// }
---

<header class="l-header p-header">
  <div class="p-header__inner">
    <h1 class="p-header__logo">Astro Static</h1>
    <button class="p-header__hum js-hum" type="button">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>

<style lang="scss">
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const button = document.querySelector(".js-hum")
    button.addEventListener('click', function () {
      button.classList.toggle('is-trans')
    });
  });
</script>