@use '../../global' as *;

.p-contents {
  margin-top: 80px;
  &__list {
    display: block;
    width: auto;
    @include mq-up(md) {
      display: flex;
      align-items: flex-start;
      margin-right: -20px;
      margin-left: -20px;
    }
  }
}