@use '../../global' as *;

.p-footer {
  small {
    text-align: center;
    display: block;
    font-size: fn-rem(15);
    position: absolute;
    bottom: 8px;
    right: 0;
    left: 0;
    margin: auto;
  }
}