---
import Layout from '@templates/Layout.astro';
// import Picture from '@templates/mixin/Picture.astro';
import Container from '@templates/mixin/Container.astro';
---

<Layout title="Astro4.0 Static - page" description="" keywords="">
  <div class="p-contents">
    <Container class="p-contents__inner">
      <p>仮想ページです</p>
    </Container>
  </div>
</Layout>

<style lang="scss">
</style>