---
interface Props {
  class: string;
}

const { class: className } = Astro.props;
---

<div class:list={["l-container", className]}>
  <slot />
</div>

<style lang="scss">
  .l-container {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    @include mq-up(md) {
      max-width: 1104px;
      padding-right: 40px;
      padding-left: 40px;
      margin: 0 auto;
    }
  }
</style>
